.swiper {
  background-color: rgba(184, 192, 255, 25%);
  height: 50%;
  padding: 2rem 2rem 0 2rem;
  margin-bottom: 4rem;
  max-width: 90%;
}

.carousels-section {
  animation: about-appear 1s ease-out forwards;
}

.portfolio-header {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  letter-spacing: 2px;
  color: #03045e;
}

@media (max-width: 768px) {
  .portfolio-header {
    font-size: 1.5rem;
  }
  .swiper {
    padding: 1rem 0 0 0;
  }
  .swiper h2 {
    padding-bottom: 1rem;
  }
}

@media (max-width: 500px) {
  .portfolio-header {
    padding: 0 1rem;
    margin-top: 3rem;
    font-size: 1.3rem;
  }
}

@keyframes about-appear {
  from {
    opacity: 0;
    transform: translateY(2rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
